<div class="p-5">
    <h1 style="text-align: center;">Inicio de sesion</h1>
    <div style="align-self: center;" class="p-5">
        <form class="form">
            <label class="from-label">Usuario</label>
            <input class="form-control" #cajauser name="cajauser"/>
            <label class="from-label">Contraseña</label>
            <input class="form-control" #cajacontra name="cajacontra"/>
            <br>
            <button class="btn btn-primary" (click) ="iniciarSesion()">Iniciar Sesión</button>
        </form>
    </div>
</div>
